.pos-1 {
  top: 10vh;
}

.pos-2 {
    top: 50vh;
}

.pos-3 {
    top: 95vh;
}

.pos-4 {
    top: 40vh;
}

.backgroundGridImage {
    position: relative;
}

.red {
    width: 100%;
    height: 40px;
    background: red
}

.green {
    width: 100%;
    height: 40px;
    background: green;
}

.project-text-block {
    font-size: 12px;
    text-align: center;
    max-width: 500px;
    line-height: 1.5;
    margin: auto;
}