video {
  width: 100%;
}

.pos-1 {
  top: 10vh;
}

.pos-2 {
  top: 50vh;
}

.pos-3 {
  top: 95vh;
}

.pos-4 {
  top: 40vh;
}

.thumbnail {
  width: 100%;
}

.outlined {
  border: solid black 1px;
}

.hover-outline:hover {
  border: solid black 4px;
}

.backgroundGridImage {
  position: relative;
}

.red {
  width: 100%;
  height: 40px;
}

.green {
  width: 100%;
}

.project-title {
  text-align: center;
  padding: 40px;
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: "";
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}


.browser-mockup > * {
  display: block;
}

.complementary-img {
  width: 100%;
}

@media (max-width: 768px) {
  .mobile-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .browser-input {
    font-size: 10px;
  }

  .inner-icon img {
    height: 35px;
  }
}
