
.control-box {
  top: 50%;
  position: fixed;
  border: 1px black solid;

  .control-header {
    display: flex;
    padding: 5px;
    background: none;
    border-bottom: 1px black solid;
    justify-content: space-between;
  }
}
