.control-box-body {
float: right;
clear: both;
text-align: right;
padding-right: 5px;
}

.control-box-title {
    float: right;
    padding-right: 5px;
    text-align: right;
    transition: 6s
}

.control-box-cont {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  transform: translate(0, -50%);
}

.menu-option-title {
    // animation: fadeout 2s;
}

.control-box-title.active {

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
