.control-box-body {
    text-align: right;
    padding: 5px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }


  .control-box-cont {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
  }