.control-box {
  top: 50%;
  left: 50%;
  margin-top: -169px; /*set to a negative number 1/2 of your height*/
  margin-left: -157px; /*set to a negative number 1/2 of your width*/
  overflow: hidden;
  position: fixed;
  height: 338px;
  width: 314px;
  border: 1px black solid;
  transition: 2s;

  .control-header {
    display: flex;
    padding: 5px;
    background: none;
    border-bottom: 1px black solid;
    justify-content: space-between;
  }

  .control-footer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background: none;
    border-top: 1px black solid;
    position: absolute;
    bottom: 0;
    width: 100%;


    a {
        padding-right: 5px;
        color: black;
    }
  }
}

.control-box.active {
  left: 165px;
}
