.control-box {
  top: 50%;
  left: 50%;
  margin-top: -169px; /*set to a negative number 1/2 of your height*/
  margin-left: -157px; /*set to a negative number 1/2 of your width*/
  overflow: hidden;
  position: fixed;
  height: 338px;
  width: 314px;
  border: 1px black solid;
  transition: 2s;

  .control-footer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background: none;
    border-top: 1px black solid;
    position: absolute;
    bottom: 0;
    width: 100%;

    a {
      padding-right: 5px;
      color: black;
    }
  }
}

.mobile-menu-option-title{
  float: right;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  transition: 6s
}


.control-header {
  display: flex;
  padding: 5px;
  background: none;
  border-bottom: 1px black solid;
  justify-content: space-between;
}

.control-box-mobile {
  display: none;
}

.control-box.active {
  left: 172px;
}

.do-logo {
  display: flex;
  cursor: pointer; 

  .do-logo-d {
    height: 20px;
    width: 14px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    animation: color_change 5s infinite alternate;
    margin-left: 4px;
  }

  .do-logo-o {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation: color_change 5s infinite alternate;
    margin-left: 4px;
  }
}

@keyframes color_change {
  from {
    background-color: blue;
  }
  to {
    background-color: red;
  }
}

@media (max-width: 768px) {
  .control-box {
    display: none;
  }
}

@media (max-width: 768px) {
  .control-box-mobile {
    display: block;
    top: 0;
    width: 100%;
    border-bottom: 1px black solid;
    padding-left: 0 !important;
    overflow: hidden;
  }
}
