.control-box-body {
  text-align: right;
  padding: 5px;
}

.control-box-cont {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.menu-option-title {
  transition: 5s;
}

.menu-option-title.active {}
