
.software-icon {
    display: flex;
    justify-content: center;
  }
  
  .icon-box {
    justify-content: center;
  }
  
  .inner-icon img {
    object-fit: contain;
    height: 45px;
  }
  
  .outter-icon {
    padding-right: 10px;
  }

  .red {
    width: 100%;
    height: 40px;
  }