h3 {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .001em;
}

h2{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .001em;
}

ul {
    list-style-type: none;
    padding: 0;
}

// .container {
//     padding-top: 15px;
// }

a {
    color:black;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: blue;
    }
}


@media (max-width: 768px) {
    .mobile-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .browser-input {
      font-size: 10px;
    }
  
    .inner-icon img {
      height: 35px;
    }
  }
