h3 {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .001em;
}

h2{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .001em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container {
    padding-top: 15px;
}

a {
    color: rgb(175, 170, 170);
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: black;
    }
}

